* {
    box-sizing : border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    margin-left: 3em;
}
.file-button {
    background-color: rgb(138, 15, 15);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
}
